body{
	overflow:hidden;
	touch-action:manipulation;
}
#box{
	height:100%;
	width:35%;
	margin:auto;
	overflow:hidden;
	background:black;
}
#shootTable{
	height:100%;
	width:35%;
	margin:auto;
	overflow:hidden;
	position:absolute;
	top:0;
	left:32.5%;
}
#ss1{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:none;
	width:100%;
	height:auto;
}
#ss2{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:none;
	width:100%;
	height:auto;
}
#ss3{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:none;
	width:100%;
	height:auto;
}
#ss4{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:block;
	width:100%;
	height:auto;
}
#ss5{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:none;
	width:100%;
	height:auto;
}
#ss6{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:none;
	width:100%;
	height:auto;
}
#ss7{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:none;
	width:100%;
	height:auto;
}
.ss{
	position:relative;
	top:0;
	left:0;
	right:0;
	display:block;
	width:100%;
	height:auto;
	opacity:0.5;
	z-index:2;
}
.e{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	bottom:0;
	left:0;
	transition-property:top;
	transition-duration:0s;
	transition-timing-function:linear;
}
.ssb{
	transition-property:top;
	transition-duration:0s;
	transition-timing-function:linear;
}
#energyBar{
	height:20%;
	width:10%;
	position:relative;
	top:0;
	right:0;
	opacity:0.5;
	z-index:100;
	overflow:hidden;
}
#energyHeight{
	height:20%;
	width:10%;
	position:relative;
	top:0;
	right:0;
	z-index:-100;
	overflow:hidden;
	opacity:0;
}
#table2{
	height:20%;
	width:10%;
	position:relative;
	top:0;
	right:0;
}
#shootButton{
	position:absolute;
	bottom:1%;
	left:32.5%;
	width:10%;
	height:auto;
	opacity:0.5;
	z-index:100;
	cursor:pointer;
}
.blast{
	position:relative;
	top:0;
	left:0;
	height:0%;
	width:10%;
	transition-timing-function:linear;
	transition-property:height, top;
	transition-duration:0.1s, 0.4s;
}
#scoreBox{
	height:20%;
	width:32%;
	position:absolute;
	top:0%;
	right:34%;
	z-index:100;
	opacity:0.5;
}
#scoreText{
	font-size:150%;
	text-align:right;
	color:white;
	font-family:impact;
}
.button{
	height:20%;
	width:40%;
	border:5px solid white;
	cursor:pointer;
	display:table;
	vertical-align:middle;
}
#easyButton:hover{
	border:5px solid red;
	color:red;
}
#mediumButton:hover{
	border:5px solid red;
	color:red;
}
#hardButton:hover{
	border:5px solid red;
	color:red;
}
#box2{
	height:100%;
	width:35%;
	margin:auto;
	overflow:hidden;
	background:black;
}
.buttonText{
	font-size:200%;
	font-family:impact;
	color:white;
	text-align:center;
}
#menuOptions{
	height:85%;
	width:100%;
}
#credits{
	color:white;
	position:absolute;
	bottom:1%;
	right:33.5%;
	font-family:impact;
	font-size:120%;
}